#add_user_ajax {   
  display: none;
}
#mw_add{
	display: block;
	z-index: 56;
}
#mw_project_add{
	z-index: 56
}
.w_tabs .tabs .tab{
	text-decoration: none;
}

.w_check{
	cursor: pointer;
}

.sending{
	background: url("../i/loader.gif") center center no-repeat;
	position: absolute;
	top: 50%;
	left: 50%;
	height: 100px;
	width: 100px;
	margin-left: -50px;
	margin-top: -50px;
	background-color: rgba(255,255,255,0.3);
}
#loader {z-index: 60;}
.user-info .user img{
	width: 50px;
	height: 50px;
}
.dz-clickable{
	min-height: 100px !important;
	background-color: #f2f2f2 !important;
	text-align: center;

}
.remove-file {
	position: absolute;
	display: block;
	width: 15px;
	height: 15px;
	background: url("../i/file-delete.png") 0 0 no-repeat;
	top: 0px;
	right: 0px;
	cursor: pointer;
	z-index: 55;
}
.f_comment{
	right: 21px !important;
}
.popup-bg{
	overflow: auto;
}
